/* global styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.show-menu {
  top: 0 !important;
}

/* end global styling */

/* start styling of page index */

/* start header styling */
header {
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 100px;
}

/* logo styling */
header .logo {
  font-size: 30px;
  line-height: 70px;
  flex-wrap: wrap;
}

header .logo a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

/* bars menu styling */
header .fa-bars {
  line-height: 70px;
  font-size: 25px;
  display: none;
  cursor: pointer;
}

/* menu styling */
header .links {
  list-style: none;
  display: flex;
  line-height: 70px;
  margin: 0;
  transition: all 0.4s;
}

header .links li {
  padding: 0 25px;
  font-weight: 500;
}

header .links li:hover {
  text-decoration: underline;
  font-weight: 600;
}

header .links li a {
  color: #555;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
/* end header styling */

/* start description styling */

.description {
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* styling description title */
.description h1 {
  font-size: 75px;
  font-weight: 800;
}

.description h1 span {
  background-image: linear-gradient(
    to right,
    rgb(248, 0, 145),
    rgba(48, 0, 220, 0.867),
    #0070f4
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* styling description paragraph */
.description p {
  font-size: 20px;
  line-height: 2;
  color: #222;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 50%;
}

/* styling description buttons (encode and decode) */
.description .buttons {
  display: flex;
  justify-content: center;
}

.description .buttons a {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  color: #222;
  border-radius: 5px;
  transition: background 0.4s;
}

.description .buttons .encode {
  background-color: #000;
  color: #fff;
}

.description .buttons .encode:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.description .buttons .decode {
  background-color: #0070f4;
  color: #fff;
}

.description .buttons .decode:hover {
  background-color: #0070f4db;
}

/* end description styling */

/* start themes styling */

.themes {
  position: absolute;
  top: 30%;
  left: 0;
}

.themes .color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  transition: 0.3s;
  cursor: pointer;
}

.themes .color:hover {
  left: 0;
}

.themes .red {
  top: 0;
  background-color: #d4bff9;
}
.themes .blue {
  top: 40px;
  background-color: #ffddb0;
}
.themes .green {
  top: 80px;
  background-color: #f5b6da;
}
.themes .yellow {
  top: 120px;
  background-color: #c6f68d;
}

/* end themes styling  */

/* start footer styling */

footer {
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 18px;
}

/* end footer styling */

/* start responsive for page index */

/* very small devides less than 576px */
@media (max-width: 575px) {
  header {
    padding: 0;
  }

  header .logo {
    margin-left: 15px;
  }

  header .fa-bars {
    display: block;
    margin-right: 15px;
  }

  header .links {
    width: 100%;
    flex-direction: column;
    position: relative;
    top: -500%;
    background-color: #fff;
    z-index: 3;
    text-align: center;
  }

  .description h1 {
    font-size: 40px;
  }

  .description p {
    font-size: 16px;
  }

  .buttons {
    flex-direction: column;
  }

  .description .buttons a {
    font-size: 16px;
    width: 150px;
  }
  .description .buttons .encode {
    margin-bottom: 10px;
  }

  footer {
    font-size: 16px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  header {
    padding: 0;
  }

  header .logo {
    margin-left: 20px;
  }

  header .fa-bars {
    display: block;
    margin-right: 20px;
  }

  header .links {
    width: 100%;
    flex-direction: column;
    position: relative;
    top: -500%;
    background-color: #fff;
    z-index: 3;
    text-align: center;
  }

  .description h1 {
    font-size: 60px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  header {
    padding: 0;
  }

  header .logo {
    margin-left: 30px;
  }

  header .fa-bars {
    display: block;
    margin-right: 30px;
  }

  header .links {
    width: 100%;
    flex-direction: column;
    position: relative;
    top: -500%;
    background-color: #fff;
    z-index: 3;
    text-align: center;
  }

  .description h1 {
    font-size: 65px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  header {
    padding: 0 50px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* end responsive for page index */

/* end styling for page index */

/* start styling page encode (yassine) */

.titel {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: #000;
  margin: 16px;
}
.page {
  background: #d9eee1;
  height: 500px;
  /* display: flex; */
  /* flex-flow: row nowrap; */
  /* flex-direction: row; */
  justify-content: space-around;
}
.htm-converter1 {
  width: 580px;
  height: 480px;
  background: gainsboro;
  margin: 20px;
  box-sizing: border-box;
}
.htm-converter2 {
  width: 600px;
  height: 480px;
  position: absolute;
  right: 0px;
  top: 89px;
  background: gainsboro;
  margin: 20px;
}

.htm-converter1 .input-text {
  height: 350px;
  width: 580px;
  padding: 20px;
  font-family: "Robote", sans-serif;
  font-size: 18px;
  list-style: 1.7;
}
.htm-converter1 .input-text {
  resize: none;
}
.reult {
  height: 350px;
  width: 570px;
  padding: 20px;
  font-family: "Robote", sans-serif;
  font-size: 18px;
  list-style: 1.7;
  overflow-y: scroll;
}
.reult {
  height: 350px;
  width: 600px;
  padding: 20px;
  font-family: "Robote", sans-serif;
  font-size: 18px;
  list-style: 1.7;
  overflow-y: scroll;
}

.return-btn,
.saved-btn,
.deletd-btn,
.copyy-btn {
  height: 80px;
  width: 80px;
  font-size: 30px;
  color: #000;
  text-align: center;
  position: relative;
  left: 435px;
  cursor: pointer;
}

.heder2 {
  font-size: 20px;
  position: relative;
  top: 30px;
  color: #000;
}
.heder3 {
  font-size: 15px;
  color: #000;
}
.btn64 {
  justify-content: center;
}
.btn64 .one {
  color: #fff;
  padding: 10px 30px;
  background: #04aa6d;
  position: relative;
  left: 150px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.btn64 :active {
  top: 3px;
}
.htm-converter2 .input-text {
  height: 350px;
  width: 570px;
  padding: 20px;
  font-family: "Robote", sans-serif;
  font-size: 18px;
  list-style: 1.7;
}
.htm-converter2 .input-text {
  resize: none;
}
.reult {
  height: 350px;
  width: 600px;
  padding: 20px;
  font-family: "Robote", sans-serif;
  font-size: 18px;
  list-style: 1.7;
  overflow-y: scroll;
}

.input-text-2 {
  height: 350px;
  width: 600px;
  padding: 20px;
  font-family: "Robote", sans-serif;
  font-size: 18px;
  list-style: 1.7;
  resize: none;
}
.copy-btn {
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: #000;
  position: relative;
  left: 560px;
  cursor: pointer;
}
.fore,
.five {
  background: #f2bb13;
  color: #000;
  padding: 10px 40px;
  position: relative;
  left: 100px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  /* box-shadow: 0 6px; */
}
.five {
  background: #7f1533;
  /* background: #054861; */
  color: #fff;
  padding: 10px 40px;
  position: relative;
  left: 100px;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.fore,
.five :active {
  top: 3px;
}

/* end styling page encode (yassine) */
